.container {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 50px;
}

.container > div {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}

.red {
    background-color: red;
}

.container > div.orange {
    background-color: orange;
    z-index: 3;
    margin-left: 25px;
    margin-top: -25px;
}

.container > div.yellow {
    background-color: yellow;
    margin-left: 50px;
    margin-top: -50px;
    z-index: 2;
}

.black {
    background-color: black;
    z-index: -1;
    margin-left: 75px;
    margin-top: -75px;
}

.container > div.green {
    background-color: greenyellow;
    margin-left: 100px;
    margin-top: -100px;
    z-index: 2;
    
}

.container > div.blue {
    background-color: blue;
    z-index: 3;
    margin-left: 125px;
    margin-top: -125px;
}

.purple {
    background-color: purple;
    margin-left: 150px;
    margin-top: -150px;
}
