<div class="container">
  <div class="red"></div>
  <div class="orange"></div>
  <div class="yellow"></div>
  <div class="black"></div>
  <div class="green"></div>
  <div class="blue"></div>
  <div class="purple"></div>
</div>
