<h1>Fibonacci Serie {{numeroFibonacci}}</h1>
<input type="number" [(ngModel)]="numeroFibonacci">

<div>
    <div class="container" *ngFor="let item of getFivonacci()">
        <!-- Segundo Nivel <div class="nivel-segundo" *ngFor="let itemSecundario of item"><span>[]</span>></div>-->
        <div class="nivel-segundo"><span>[]</span></div>
    </div>
</div>


